support_kitty_keyboard_protocol true
copy_command "pbcopy"
scrollback_editor "e"
session_serialization false

scroll_buffer_size 100000
mirror_session true

pane_frames false

keybinds {
    unbind "Ctrl g"
    shared_except "locked" {
        unbind "Alt Left"
        unbind "Alt Right"
        unbind "Alt Up"
        unbind "Alt Down"
        unbind "Alt ["
        unbind "Alt ]"
        unbind "Ctrl q"
        bind "F1" { SwitchToMode "Locked"; }
    }
    locked {
        bind "F1" { SwitchToMode "Normal"; }
    }
}
