#copy_command "pbcopy"
scrollback_editor "e"

scroll_buffer_size 100000
mirror_session true

pane_frames false

keybinds {
    unbind "Ctrl g"
    shared_except "locked" {
        unbind "Ctrl q"
        bind "F1" { SwitchToMode "Locked"; }
    }
    locked {
        bind "F1" { SwitchToMode "Normal"; }
    }
}
