[Unit]
# Not sure yet, doesn't seem to work reliably
Description=Fix for the suspend issue
[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo -e 'GPP5\nGPP6\nGP12\nXHC0\nXHC1\nXHC3\nNHI1\nXHC4' > /proc/acpi/wakeup"
[Install]
WantedBy=multi-user.target
