[Desktop Entry]
Name=PrusaSlicer
Exec=/home/andrey/opt/PrusaSlicer %F
Icon=/home/andrey/opt/PrusaSlicer.png
Terminal=false
Type=Application
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
