[Desktop Entry]
Version=1.0
Type=Application
Name=Saleae Logic
Comment=Saleae Logic Analyzer
TryExec=/home/andrey/opt/SaleaeLogic/SaleaeLogic
Exec=/home/andrey/opt/SaleaeLogic/SaleaeLogic %F
Icon=/home/andrey/opt/SaleaeLogic/SaleaeLogic.png
